* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #282c34;
  text-align: center;
}

h1 {
  color:#ecc377;
}

.App {
  text-align: center;
  background-image: url(https://i.pinimg.com/originals/ea/85/c3/ea85c3be1f0d8622474d807b3d0727f7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color:rgb(240, 240, 198)
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  margin-bottom: 20px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  padding: 20px;  
  background-color: #d45129;
  text-align: center;
  color: beige;
}

.App-link {
  color: #fb8561;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.titleItem {
  color:#282c34;

}

.greet{
  background-color: red;
  font-family: 'Franklin Gothic Medium', sans-serif;
}

.cardItem{
  background-color: #252221;
  padding: 20px;
  height: 730px;
  width: 450px;  
  margin-left: 500px;
}

.cardItem img{
  height: 400px;
  
}

.price{
  color: rgb(148, 150, 238);
  font-family: 'Lucida Grande', sans-serif;
}

.cardsItems img{
  height: 250px;
  
}

.cardsItems{  
  height: 350px;
  width: 300px;
  padding: 0px;
  margin-left: 500px;
  border: solid 1.5px #252221;
  border-radius: 6px;
  box-shadow: 2px 2px 5px #999;
  margin-bottom: 6px;
  margin-top: 10px;
  background-color: #ff9a02e3;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  border: solid 1px #320d08;
  background-color: #faae6f;
}

.btn-circle-two {
  border: solid 1px #322108;
  background-color: #f7d052;
}

.contador {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}